In [3]:
x = 4

In [4]:
y = 6

In [5]:
x+y

10

# Python Functions
- Blocks of Reusable code (Define them first and refer to them multiple times) - they help break your code into manageable and testable parts
-Def
-Lambda function 
-Decorators

In [10]:
def greet(name):
    return f'Hello {name}'

In [12]:
name1=greet("Duncan")
name1

'Hello Duncan'

In [13]:

name2= greet("John")
name2

'Hello John'

#Function to add two Numbers

In [14]:
def add(a,b):
    return a + b

In [15]:
add1 = add(2,3)
add1

5

In [19]:
add2=add(23,32)
add2

55

In [20]:
def plus():
    first_number = int(input("Enter your First number here"))
    Second_number = int(input("Enter your Second number here"))
    return first_number + Second_number

In [21]:
plus1=plus()
plus1

55

In [22]:
plus2=plus()
plus2

132

In [23]:
def multiply(a,b,c):
    return a*b*c

In [24]:
Multi1 = multiply(2,3,4)
Multi1

24

# Lambda Functions
 - are simple one line functions

In [25]:
product = lambda x,y,z : x*y*z

In [26]:
product1 = product(10,30,400)
product1

120000

In [27]:
#Lambda functions to greet you

greetings = lambda name : f"Hello {name}"

In [30]:

greetings1=greetings("Thayu")
greetings1

'Hello Thayu'

# Data Structures in python
We use Data structures to store data 
- Lists
- Tuples
-Sets
-Dictionaries

In [ ]:
# Lists - is a data structure that is ordered and Mutable/manipulated data stored in [] brackets\

#adding new elements
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers.append(11)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [35]:

nums= [12,13,14,15,16,17,18,19,20]
All_nums = numbers + nums
All_nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [36]:
#remove an element from a list
numbers.pop()
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [38]:
# Tuples - Ordered but immutable denoted/manipulated ()

image_pixels = (1920,1080,1920)
image_pixels.count(1920)

2

In [ ]:
image_pixels.index(1080)

1

In [40]:
# sets - uses {}, do not take dublicates

set1={1,2,3,4,5}
set2 ={4,3,7,8,9,6}
set3=set1.intersection(set2)
set3

{3, 4}

In [42]:
#union
set4=set1.union(set2)
set4

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [43]:
set5=set1.difference(set2)
set5

{1, 2, 5}

In [1]:
#Dictionaries - denoted using {}
person =  {
    "Name" : "Alice",
    "age" : 20,
    "fruits": "Pinnaple"
}

In [2]:
type(person)

dict

In [3]:
person

{'Name': 'Alice', 'age': 20, 'fruits': 'Pinnaple'}

In [4]:
car ={
    "make":["Toyota","Mazda","Renault","Audi","Mercedes","Volkswagen","Cupra"],
    "Year":[2009,2019,2017,2025,2024,2024,2025],
    "country":["Japan","Japan","France","Germany","Germany","Germany","UK"]
}

In [7]:
import pandas as pd

df = pd.DataFrame(car)
df.head()

       make  Year  country
0    Toyota  2009    Japan
1     Mazda  2019    Japan
2   Renault  2017   France
3      Audi  2025  Germany
4  Mercedes  2024  Germany

# Indexing and Slicing
-

In [ ]:
# Indexing
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers[1]

2

In [12]:
numbers[9]

10

In [14]:
last_variable = numbers[-1]
last_variable

10

In [15]:
# Slicing
numbers [:4]

[1, 2, 3, 4]

In [16]:
numbers[1:5]

[2, 3, 4, 5]

In [17]:
numbers[4:]

[5, 6, 7, 8, 9, 10]

In [22]:
nums = numbers[4:]
nums

[5, 6, 7, 8, 9, 10]

In [25]:
nums.reverse()

# Object Oreinted Programming
- Class -  is the blueprint of creating objects; starts with a capital letter
- Instance
-  Atreibute - Define the objects 
- Constructor Method
- Method
- Return Keyword

#Class
#EX Define the person by name, Age, gender and Nationality- constructor method  df init
class person:

In [1]:
class Person:
    def __init__(self,name,age,gender,nationality):
        self.name = name
        self.age = age
        self.gender = gender
        self.nationality = nationality
    
    def speak (self):
        return f"My name is {self.name} I am {self.age} years old I am a {self.gender} of {self.nationality} origin."

In [2]:
#initializing  the class - my attributes
person1 = Person("Will",28,"Male","Kenyan")
print(person1.speak())

My name is Will I am 28 years old I am a Male of Kenyan origin.

In [3]:
person2 = Person("Dun",38,"Male","Kenyan")
person2.speak()

'My name is Dun I am 38 years old I am a Male of Kenyan origin.'

In [4]:
#Example 3
class Rectangle:
    def __init__(self,length,width):
        self.length = length
        self.width = width
    def area(self):
        area = self.length *self.width
        return f"The area of a rectangle with {self.length} and {self.width} is {area}."
    def perimeter(self):
        perimeter = 2*(self.length + self.width)
        return f"The perimeter of a rectangle with {self.length} and {self.width} is {perimeter}."

In [12]:
#initilaizing the class to give answers
rect1 = Rectangle(60,41)
print(rect1.area())
print(rect1.perimeter())

The area of a rectangle with 60 and 41 is 2460.
The perimeter of a rectangle with 60 and 41 is 202.

In [13]:
#Ex 4  Circle Object (Contstant)


class Circle:
    def __init__(self, radius):
        self.radius = radius
        self.PI = 22/7
    def area(self):
        area = self.PI*(self.radius**2)
        return f"The area of a circle with {self.radius} is {area}"
    def perimeter(self):
        perimeter = 2*(self.PI*self.radius)
        return f"The Perimiter of a circle with {self.radius}is {perimeter}"

In [16]:
Cir1 = Circle(14)
print(Cir1.area())
print(Cir1.perimeter())

The area of a circle with 14 is 616.0
The Perimiter of a circle with 14is 88.0

# CLASS INHERITANCE
- Parent class: Where to define atributes
- Child/sub class: Inherits attributes from the parent class.
            - inherts all atttribtes from parent class and may include additional attributes

In [18]:
# Define arrtributes for a parent class
#EX1 : Parent class Animal
class Animal:
    def __init__(self, name, age, breed):
        self.name = name
        self.age = age
        self.breed = breed
    def speak(self):
        return f"{self.name} is {self.age} years old and is a {self.breed}. {self.name} makes a sound."

In [19]:
# First Sub class
class Dog(Animal):
    def speak(self):
       return f"{self.name} is {self.age} years old and is a {self.breed}. {self.name} barks."

In [21]:
dog1 = Dog("Balboa",3,"Rockwiller")
print(dog1.speak())

Balboa is 3 years old and is a Rockwiller. Balboa barks.

In [22]:
dog2 = Dog("Kani",2,"Siberian Husky")
print(dog2.speak())

Kani is 2 years old and is a Siberian Husky. Kani barks.

In [23]:
class Cat(Animal):
    def speak(self):
       return f"{self.name} is {self.age} years old and is a {self.breed}. {self.name} Meows."

In [24]:
cat1 = Cat("Dotty",1,"Maine coon ")
print(cat1.speak())

Dotty is 1 years old and is a Maine coon . Dotty Meows.

In [ ]:
# Write  a Class Car; with attributes brand and year. Add a method called Display that prints a formatted string
# Create a class employee with name and Salary
# create a subclass with manager with extra departments and add a method called display to display full details.

File Input and Output
 - File input writes files in python
  - file output Read files in python
  - use with keyword and open function

In [4]:
#example : Create File , Sample.txt, and write, Hello world into the file 
with open ("sample.txt","w") as file:
    file.write ("LuxDevHQ")

In [5]:
#Read the content of the above file
with open("sample.txt", "r") as file:
    contet =file.read()
    print(contet)

LuxDevHQ